doctype html
html
	head
		link(rel='stylesheet', href='css/style.css' )

		title= title
		meta(charset="UTF-8")
		meta(name="description", content="HTML Template")
		meta(name="keywords", content="HTML,CSS,JavaScript")
		meta(name="author", content="Andreas Roessler, HS Esslingen")

		block style			
		block prescripts
	body
		//header
			h1 Job Kiosk
		section#content
			nav 
				u1
					-each val, key in links
						-if (id == key)
							li.activebutton
								a(href='#{key}') #{val}
						-else            
							li.button
								a(href='#{key}') #{val}
		div.column
			block content
		footer
			div.centercontent
				a(href='/impressum') Impressum
				span= views
				span= auth

		script(src='js/lib.js')
		script(src='js/realtime.js')
		block scripts
