// The main layout
extends layout

// The local content
block content
	div.colborder
		div.rowborder
			div.colborder(style='border: 1px solid grey;')
				div(style='text-align: center;')
					| Personal Data
				div
					p
						label(class='field' for='givenname') First Name: 
						input#givenname(type='text', name='jobtitle', value=user.givenname)
					p
						label(class='field' for='familyname') Last Name: 
						input#familyname(type='text', name='jobtitle', value=user.familyname)
					p
						label(class='field' for='email') E-Mail:
						if (user.email)
						input#email(type='text', name='jobtitle', value=user.email)
					p
						label(class='field' for='telephone') Telephone:
						input#email(type='text', name='jobtitle', value=user.telephone)
					p
						label(class='field' for='department') Department:
						input#email(type='text', name='jobtitle', value=user.department)
				div(style='text-align: center;')
					p
						| Adress:
					p
						input#email(type='text', name='jobtitle', value=user.city)
					p
						input#email(type='text', name='jobtitle', value=user.postcode)
					p
						input#email(type='text', name='jobtitle', value=user.street)



			div.colborder(style='border: 1px solid grey;')
				div(style='text-align: center;')
					| Company Data
				div(style='text-align: center;')
					p
						label(class='cfield' for='company') Name:
						input#email(type='text', name='jobtitle', value=user.company)
				div(style='text-align: center;')
					p
						| here goes the logo
				div
					span.changepic
					span.changepicupload


			div.colborder(style='border: 1px solid grey;')
				div(style='text-align: center;')
					| Profile Picture
				div(style='text-align: center;')
					p
						| here goes the logo

		div.colborder(style='flex: 0 0 auto;')
			div.rowborder
				div.rowborder(style='border: 1px solid grey;')
					div.colborder
						| Change Password
						p
							label(class='field' for='oldpw') Old Password:
							input#email(type='password', name='jobtitle', value=user.oldpw)
						p
							label(class='field' for='oldpw') New Password:
							input#email(type='password', name='jobtitle', value=user.newpw)
		div.rowborder#submitthis

block scripts			
	script(src='js/profile.js')

		